* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  }
body {
  background-color: #FFFFFF;
  }
hr.dashed {
  border-top: 1px dashed #ffffff;
  }
.topnav {
    overflow: hidden;
    background-color: #131A22;
    position: fixed;
    width: 100%;
  }
.topnav a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
.topnav a:hover {
    background-color: #ffffff;
    color: black;
  }
.topnav a.active {
    background-color: #D2D2D2;
    color: rgb(0, 0, 0);
  }
.topnav .search-container {
    float: right;
  }
.topnav input[type=text] {
    padding: 6px;
    margin-top: 12px;
    margin-right: 12px;
    font-size: 10px;
    border: none;
    width: 150px;
  }
.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #D2D2D2;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
.topnav .search-container button:hover {
    background: #ffffff;
  }
.topnav .right-nav  {
    float: right;
  }
#card-matrix {
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    grid-column-gap: 0.5em;
    grid-row-gap: 1.5em;
    padding: 2em 0;
    justify-content: center;
  }
.card-local {
    max-width: 210px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d2d2d2;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.image-container img {
  max-width: 100%;
    object-fit: contain;
    height: 10em;
}
.container {
  padding-top: 1em;
  color: #110f29;
}
.container h5 {
  font-weight: 500;
}
.hide {
  display: none;
}
.button1-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button1-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav-pad {
  padding-top: 50px;
}
@media screen and (max-width: 720px) {
  #card-matrix {
    grid-template-columns: auto auto;
  }
  .card-local {
    max-width: 185px;
 }
  .topnav .left-nav  {
    display: none;
  }
  .topnav .right-nav {
    display: none;
  }
  .desktop img{
    display: none;
  }
}


